<app-header></app-header>
<div class="container">
  <div class="row">
    <!-- Normal Search -->
    <div class="col-sm-4">
      <div class="search__area">
        <h3>Normal Search</h3>
        <input type="text" placeholder="Search...." #searchInput />
      </div>
    </div>

    <!-- Debounce Time -->
    <div class="col-sm-4">
      <div class="search__area">
        <h3>Debounce Time</h3>
        <input type="text" placeholder="Search...." #debounceTimeInput />
      </div>
    </div>

    <!-- DistinctUntilChanged -->
    <div class="col-sm-4">
      <div class="search__area">
        <h3>DistinctUntilChanged</h3>
        <input type="text" placeholder="Search...." #distinctInput />
      </div>
    </div>
  </div>
</div>
